<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

    <!-- اسم التطبيق -->
    <key>CFBundleName</key>
    <string>Google Cloud</string>

    <!-- معرف التطبيق -->
    <key>CFBundleIdentifier</key>
    <string>com.ix.googlecloud</string>

    <!-- رقم الإصدار -->
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>

    <!-- ملف الواجهة -->
    <key>UIMainStoryboardFile</key>
    <string>Main</string>

    <!-- السماح بتحميل المواقع الخارجية -->
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>

    <!-- الأيقونة -->
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array>
                <string>AppIcon60x60</string>
            </array>
            <key>UIPrerenderedIcon</key>
            <false/>
        </dict>
    </dict>

</dict>
</plist>
